---
title: Home
layout: base
---

<div class="container">
	<div class="row">
		<div class="col-md-5">
			<div class="panel panel-default ">
				<div class="panel-heading">
						<h3 class="biko light_background">Upcoming Talks</h3>
				</div>
				<div class="panel-body">

					{%- assign upcoming = site.data.events
					| where_exp: "t", "t.date and t.date >= site.time"
						| sort: "date" -%}

					{%- if upcoming == empty -%}
						<p>No upcoming talks.</p>
					{%- else -%}
						{%- for talk in upcoming -%}
							{% include talk.html talk=talk %}
							{%- unless forloop.last -%}<hr>{%- endunless -%}
						{%- endfor -%}
					{%- endif -%}

				</div>
			</div>
		</div>

		<div class="col-md-5">

			<div class="panel panel-default ">
				<div class="panel-heading">
						<h3 class="biko light_background">Past Talks</h3>
				</div>
				<div class="panel-body">
					{%- assign past = site.data.events
						| where_exp: "t", "t.date and t.date <= site.time"
						| sort: "date"
						| reverse -%}

					{%- if past == empty -%}
						<p>No past talks.</p>
					{%- else -%}
						{%- for talk in past -%}
							{% include talk.html talk=talk %}
							{%- unless forloop.last -%}<hr>{%- endunless -%}
						{%- endfor -%}
					{%- endif -%}
				</div>
			</div>
	</div>
</div>
