<header>
<div class="container">
<div class="row">
  <div class="col-xs-12">
    <h1>{{site.name}}</h1>
  </div>

  <div class="col-md-5">
    <p class="lead">{{site.description}}</p>
  </div>

  <div class="col-md-5 text-right">
    <ul class="list-inline">
      {% for link in site.data.footer_links %}
        <li>{% if link.url %}<a class="text-imp" href="{{ link.url }}">{% endif %}{{ link.name | upcase }}{% if link.url %}</a>{% endif %}</li>
      {% endfor %}
    </ul>
  </div>
</div>
</div>
	<!-- <div class="container"> -->
	<!-- 	<div class="row"> -->
	<!-- 		<div class="col-md-5"> -->
	<!-- 			<h1>{{site.name}}</h1> -->
	<!-- 			<p class="lead">{{site.description}}</p> -->
	<!-- 		</div> -->
	<!-- 		<div class="col-sm-6"> -->
	<!-- 			<ul class="list-inline"> -->
	<!-- 				{% for link in site.data.footer_links %} -->
	<!-- 					<li>{%if link.url%}<a class="text-imp" href="{{ link.url }}">{%endif%}{{ link.name |upcase }}{%if link.url%}</a>{%endif%}</li> -->
	<!-- 				{%endfor%} -->
	<!-- 			</ul> -->
	<!-- 		</div> -->
	<!-- 	</div> -->
	<!--  </div> -->
</header>

